<div class="conversations-content-container">
  <div class="conversations-content-items" id="chatbox">
    <% @messages.each do |message| %>
    <%= render 'messages/message', message: message %>
    <% end %>
  </div>
  <div class="conversations-hub-wrapper">
    <%= form_with model: @message, class: "w-100" do |f| %>
    <div class="form-group-chat">
      <%= f.text_field :content, placeholder: "Message the chat...", class: "chat-input form-control" %>
    </div>

    <div class="chat-tools">
      <i class="far fa-grin-beam"></i>
      <%= f.submit "send" %>
    </div>
    <% end %> <!-- form with model message -->
  </div>
</div>
