<% post.comments.each do |parent_comment| %>
  <%= render 'comments/comment', post: post, comment: parent_comment, parent_comment: parent_comment %>
  <div class="comment-replies">
    <% parent_comment.replies.each do |reply| %>
      <%= render 'comments/comment', post: post, comment: reply, parent_comment: parent_comment %>
    <% end %>
  </div>
<% end %>
