<div class="comment-wrapper" data-controller='comments'>
  <div class="comment-header">
    <h3>
      <%= comment.user.username %>
    </h3>
    <%= link_to "reply", "#", data: { action: "click->comments#showReplyForm"} %>
  </div>
  <div class="comment-content">
    <h4><%= comment.content %></h4>
  </div>
  <div class="hidden" data-target='comments.replyForm'>
    <%= render 'comments/comment_form', post: post, comment: Comment.new, parent_comment: parent_comment %>
  </div>
</div>
