.home-image {
  background: image-url("fujiandtemple.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  height: calc(100vh - 85px);
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
a:active {
  opacity: 0.7;
}

.main {
 height: 100vh;
}

.gateway-wrapper {
  position: relative;
  width: 100%;
  padding: 75px 100px;
}

.gateway {
  box-sizing: border-box;
  width: 400px;
  height: 475px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gateway-content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Karla';
  text-shadow: 1px 1px 2px #7FA269;
}

.gateway-tagline {
  border-bottom: 3px groove;
  font-size: 17px;
  text-align: center;
  color: darkslategrey;
  padding: 15px;
}

// .gateway-to-games {

//   padding: 30px 80px;
//   margin: 6px;
//   margin-top: 20px;
//   border : solid grey 1px;
//   border-radius: 4px;
//   opacity: 0.8;
// }

// .gateway-to-games:hover {
//   opacity: 1.0;
//   color: darkslategrey;
//   border: 2px solid darkslategrey;
// }

.gateway-to-forum {
  background-color: palegreen;
  padding: 30px 80px;
  margin: 6px;
  border : solid grey 1px;
  border-radius: 4px;
  opacity: 0.8;
}

.gateway-to-forum:hover {
  opacity: 1.0;
  color: darkslategrey;
  border: 2px solid darkslategrey;
}

.gateway-to-join {
  background-color: palegreen;
  padding: 30px 80px;
  margin: 6px;
  border : solid grey 1px;
  border-radius: 4px;
  opacity: 0.8;
}

.gateway-to-join:hover {
  opacity: 1.0;
  color: darkslategrey;
  border: 2px solid darkslategrey;
}

// signup - stylings - start
.signup-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-tagline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 12px 12px 0px 0px;
  width: 100%;
  padding-left: 25px;
  background: white;
  margin-bottom: 20px;
}

.new_user {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.sign-up.modal {
  background: gainsboro;
  border-radius: 12px;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.interactive-form { //begin nested form effect
  height: 400px;
  width: 300px;



  input[type=submit] {
    background: #fff;
    height: 2.75rem;
    margin: 1em auto auto;
  }

  form {
    overflow: hidden;
    padding: 10%;
    position: relative;
    width: 80%;
  }

  input[type=email],
  input[type=text],
  input[type=password] {
    background: none;
    border: none;
    border-bottom: 2px solid #74bdb7;
    box-sizing: border-box;
    outline: none;
  }

  input[type=email]:required,
  input[type=text]:required {
    box-shadow: none;
    outline: none;
  }

  input[type=submit] {
    color: black;
    background: palegreen;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 0 2rem;
    opacity: 0.8;
    text-shadow: 1px 1px 2px #7FA269;
  }

  input[type=submit]:hover,
  input[type=submit]:focus {
    cursor: pointer;
    outline: none;
    opacity: 1.0;
    color: darkslategrey;
  }

  .inputs--filled label {
    transform: translate(0, 0);
  }

  .inputs--invalid input {
    animation: shake 0.3s cubic-bezier(.36,.07,.19,.97) both;
    background: url(my-assets.netlify.com/codepen/dailyui-001/ico-invalid.svg) center right no-repeat;
    border-bottom: 2px solid #f37b56;
    box-shadow: none;
    color: #f37b56;
    transform: translate3d(0, 0, 0);
  }

  @keyframes shake {
    0%, 100% {
      transform: translate3d(0, 0, 0);
    }

    33% {
      transform: translate3d(-6px, 0, 0);
    }

    66% {
      transform: translate3d(6px, 0, 0);
    }
  }

  .inputs--invalid label {
    color: #f37b56;
  }

  label {
    display: inline-block;
    transform: translate(0, 1.25rem);
    transition: 0.15s;
  }

  .text-headline {
    color: #74bdb7;
    letter-spacing: 0.4rem;
    font: 700 1.4em 'Montserrat';
    text-align: center;
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    .text-headline {
      font: 700 1.625rem 'Montserrat';
    }
  }

  .text-body {
    color: #354c58;
    font: 700 16px 'Montserrat', sans-serif;
  }

  .text-small-uppercase {
    color: #74bdb7;
    font: 700 .75rem 'Montserrat';
    letter-spacing: .08rem;
    text-transform: uppercase;
  }

  .text-subheadline {
    color: #f37b56;
    left: -.17rem;
    letter-spacing: .143rem;
    font: 700 0.652rem 'Montserrat';
    margin-bottom: 1.5rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    .text-subheadline {
      font: 700 0.75rem 'Montserrat';
    }
  }
} // end nested form effect

// signup - stylings - end

// Button Effect

.frame {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // width: 400px;
  // height: 400px;
  // margin-top: -200px;
  // margin-left: -200px;
  // border-radius: 2px;
  // box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  // overflow: hidden;
  // background: #FFA114;
  // color: white;
  // font-family: Raleway, Helvetica, sans-serif;


  // display: flex;
  // justify-content: center;
  // align-items: center;
}

// .gateway-to-games {
//   background-color: palegreen;
//   padding: 30px 80px;
//   margin: 6px;
//   margin-top: 20px;
//   border : solid grey 1px;
//   border-radius: 4px;
//   opacity: 0.8;
// }

.p-absolute {
  position: absolute;
}

.stroke {
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 display: flex;
 align-items: center;
 justify-content: center;

 cursor: pointer;

 svg {
  height: 100px;
  width: 240px;
  fill: none;
  stroke-width: 2;

  .o1 {
    stroke: rgba(grey, 0.7);
    fill: palegreen;
    transition: all 1s ease-in-out;
  }

  .o2 {
    stroke: white;
    stroke-dasharray: 20 420;
    stroke-dashoffset: 120;
    transition: all 1s ease-in-out;
  }
}


&:hover {
  .o1{
    fill: rgba(#18f060, 0.3);
  }

  .o2 {
    stroke-dashoffset: -420;
  }
}
}

// test

// .test {
//   position: absolute;
// }

// .stroke {
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  stroke-width: 5;
//  cursor: pointer;


//   .o1 {
//     stroke: rgba(grey, 0.7);
//     fill: palegreen;
//     transition: all 1s ease-in-out;
//   }

//   .o2 {
//     stroke: white;
//     stroke-dasharray: 20 420;
//     stroke-dashoffset: 20;
//     transition: all 1s ease-in-out;
//   }


// &:hover {
//   .o1{
//     fill: rgba(#18f060, 0.3);
//   }

//   .o2 {
//     stroke-dashoffset: -420;
//   }
// }
// }

