.home-image {
  background: image-url("fujiandtemple.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  height: calc(100vh - 85px);
  }

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
a:active {
  color: red;
}

.main {
 height: 100vh;
}

.gateway-wrapper {
  position: relative;
  width: 100%;
  padding: 75px 100px;
}

.gateway {
  box-sizing: border-box;
  width: 400px;
  height: 475px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gateway-content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Karla';
  text-shadow: 1px 1px 4px #7FA269;
}

.gateway-tagline {
  border-bottom: 3px groove;
  font-size: 17px;
  text-align: center;
  color: darkslategrey;
  padding: 15px;
}

// .gateway-to-games {

//   padding: 30px 80px;
//   margin: 6px;
//   margin-top: 20px;
//   border : solid grey 1px;
//   border-radius: 4px;
//   opacity: 0.8;
// }

// .gateway-to-games:hover {
//   opacity: 1.0;
//   color: darkslategrey;
//   border: 2px solid darkslategrey;
// }

.gateway-to-forum {
  background-color: palegreen;
  padding: 30px 80px;
  margin: 6px;
  border : solid grey 1px;
  border-radius: 4px;
  opacity: 0.8;
}

.gateway-to-forum:hover {
  opacity: 1.0;
  color: darkslategrey;
  border: 2px solid darkslategrey;
}

.gateway-to-join {
  background-color: palegreen;
  padding: 30px 80px;
  margin: 6px;
  border : solid grey 1px;
  border-radius: 4px;
  opacity: 0.8;
}

.gateway-to-join:hover {
  opacity: 1.0;
  color: darkslategrey;
  border: 2px solid darkslategrey;
}

.sign-up.modal {
  background-color: red;
}

// Button Effect

.frame {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // width: 400px;
  // height: 400px;
  // margin-top: -200px;
  // margin-left: -200px;
  // border-radius: 2px;
  // box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  // overflow: hidden;
  // background: #FFA114;
  // color: white;
  // font-family: Raleway, Helvetica, sans-serif;


  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.gateway-to-games {
  background-color: palegreen;
  padding: 30px 80px;
  margin: 6px;
  margin-top: 20px;
  border : solid grey 1px;
  border-radius: 4px;
  opacity: 0.8;
}

.test {
  position: absolute;
}

.stroke {
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 display: flex;
 align-items: center;
 justify-content: center;

 cursor: pointer;

 svg {
  height: 55px;
  width: 150px;
  fill: none;
  stroke-width: 5;

  .o1 {
    stroke: rgba(grey, 0.7);
    fill: palegreen;
    transition: all 1s ease-in-out;
  }

  .o2 {
    stroke: white;
    stroke-dasharray: 20 420;
    stroke-dashoffset: 20;
    transition: all 1s ease-in-out;
  }
}


&:hover {
  .o1{
    fill: rgba(#18f060, 0.3);
  }

  .o2 {
    stroke-dashoffset: -420;
  }
}
}

// test

// .test {
//   position: absolute;
// }

// .stroke {
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  stroke-width: 5;
//  cursor: pointer;


//   .o1 {
//     stroke: rgba(grey, 0.7);
//     fill: palegreen;
//     transition: all 1s ease-in-out;
//   }

//   .o2 {
//     stroke: white;
//     stroke-dasharray: 20 420;
//     stroke-dashoffset: 20;
//     transition: all 1s ease-in-out;
//   }


// &:hover {
//   .o1{
//     fill: rgba(#18f060, 0.3);
//   }

//   .o2 {
//     stroke-dashoffset: -420;
//   }
// }
// }

