.menu-leaderboard-container {
  width: 350px;
  display: flex;
  justify-content: center;
}

.menu-leaderboard {
  border: 2px solid #eee;
  width: 325px;
  background-color: white;
  border-radius: 5px;
  margin-top: 15px;
  transition: 4s;
  height: fit-content;
  height: -moz-fit-content;
  position: sticky;
  top: 70px;
  &:hover {
    border: 2px solid rgba(0,0,0, 0.7);
    // transform: scale(1.1);
  }
}

.menu-leaderboard-header {
  border-bottom: 1px solid rgba(0,0,0,0.08);
  padding: 18px 0;
  text-align: center;
}

.menu-leaderboard-call {
  transition: 2s;
  color: rgba(0,0,0, 0.5);
  font-size: .8rem;
}

.menu-leaderboard-header:hover {
  .menu-leaderboard-call {
    transform: scale(1.3);
    color: rgba(0,0,0, 0.9);
  }
}

.menu-leaderboard-image {
  // for the trophy
}

.menu-leaderboard-text {
  vertical-align: middle;
  color: #2B3648;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin: 10px;
  border-bottom: solid 1px rgba(0,0,0, 0.3);
}

.menu-leaderboard-rows {
  list-style-type: none;
  background-color: white;
  margin: 0;
  font-size: 12px;
}

.menu-leaderboard-row:nth-child(1) .menu-leaderboard-rank {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
              radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  // background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.menu-leaderboard-row:nth-child(2) .menu-leaderboard-rank {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(177,177,177,1) 49%, rgba(255,255,255,1) 100%);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.menu-leaderboard-row:nth-child(3) .menu-leaderboard-rank {
  background: linear-gradient(90deg, rgba(171,101,7,1) 0%, rgba(224,175,110,1) 49%, rgba(255,255,255,1) 100%);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.menu-leaderboard-row {
  height: 60px;
  width: 100%;
  line-height: 42px;
  font-size: 15px;
  color: #2B3648;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.menu-leaderboard-avatar {
  border: 1px solid rgba(47, 79, 79, 0.6);
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin: 6px;

  &.default-avatar {
    font-size: 30px;
    align-items: center;
    background-color: aliceblue;
    padding: 5px;

  }
}

.menu-leaderboard-rank {
  border: 1px solid lightgrey;
  border-radius: 20%;
  font-weight: 900;
  font-size: 18px;
  padding: 0px 6px;
  margin-left: 18px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.menu-leaderboard-username {
  width: 200px;
  font-size: 20px;
  margin-left: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.menu-leaderboard-points {
  margin-right: 15px
}
