<div data-numbers="<%= @numbers.to_json %>" data-number-guess-target="numbers">
  <h1>Number guessing game</h1>

  <p>We have selected a random number between 1 and 100. See if you can guess it in 10 turns or fewer. We'll tell you if your guess was too high or too low.</p>

  <div class="form">
    <label for="guessField">Enter a guess: </label>
    <input
      id="guessField"
      type="text"
      data-number-guess-target="guessField"
    >
    <input
      type="submit"
      value="Submit guess"
      data-action="click->number-guess#checkGuess"
      data-number-guess-target="guessSubmit"
    >
  </div>

  <div class="resultParas">
    <p data-number-guess-target="guesses"></p>
    <p data-number-guess-target="lastResult"></p>
    <p data-number-guess-target="lowOrHi"></p>
  </div>

  <div class="hidden btn btn-primary" data-action="click->number-guess#resetGame">
    <p>Start New Game</p>
  </div>
</div>
