<div class="mx-auto w-full md:w-8/12 lg:w-5/12 p-3" data-numbers="<%= @numbers.to_json %>" data-number-guess-target="numbers">
  <div class="flex flex-col justify-center p-10">
    <p class='font-semibold text-xl'>We have selected a random number between 1 and 100. See if you can guess it in 10 turns or fewer.
      We'll tell you if your guess was too high or too low.
    </p>

    <div class="form flex flex-col justify-center font-semibold text-lg border-gray-200 m-3">
      <label for="guessField">Enter a guess: </label>
      <input
        class="game-input"
        id="guessField"
        type="text"
        data-action="keypress->number-guess#checkOnEnter"
        data-number-guess-target="guessField"
      >
      <input
        class="btn btn-secondary"
        type="submit"
        value="Submit guess"
        data-action="click->number-guess#checkGuess"
        data-number-guess-target="guessSubmit"
      >
    </div>

    <div class="resultParas">
      <p data-number-guess-target="guesses"></p>
      <p data-number-guess-target="lastResult"></p>
      <p data-number-guess-target="lowOrHi"></p>
    </div>

    <div class="hidden btn btn-primary border-glow w-1/3 mx-auto"
      data-action="click->number-guess#startGame"
      data-number-guess-target="startButton"
    >
      <p>Play</p>
    </div>

    <div class="hidden btn btn-danger text-xl w-1/3 mx-auto quit-button"
      data-action="click->number-guess#endGame"
      data-number-guess-target="quitButton"
    >
      <p>Quit</p>
    </div>

    <div class="game-stat-box"> <!-- timer -->
      <p class='timer' data-number-guess-target="timeShow"><%= calculate_time_from_seconds(@game.play_time) %></p>
    </div>
  </div>
</div>
