<div>
  <div class="m-4">
<<<<<<< HEAD
    <div class="btn btn-primary border-glow text-3xl font-bold px-8 m-3 w-2/5 justify-self-center play-button" data-action="click->place-holder#startGame">
=======
    <div class="btn btn-primary border-glow text-3xl font-bold px-8 m-3 w-2/5 justify-self-center play-button" data-action="table-game#restartGame">
>>>>>>> 3df32e9a6c2dde08a8a03fc678708a841d0ce1ab
      <p>Play</p>
    </div>
    <div>
      <%= @problems.first.question %>
    </div>
  </div>
  <div class="">
<<<<<<< HEAD
    <%= render "game_controls", stimulus_controller: "place-holder" %>
=======
    <%= render "game_controls" %>
>>>>>>> 3df32e9a6c2dde08a8a03fc678708a841d0ce1ab
  </div>
</div>
