<div>
  <div class="m-4">
    <div class="btn btn-primary border-glow text-3xl font-bold px-8 m-3 w-2/5 justify-self-center play-button" data-action="table-game#restartGame">
      <p>Play</p>
    </div>
    <div>
      <%= @problems.first.question %>
    </div>
  </div>
  <div class="">
    <%= render "game_controls" %>
  </div>
</div>
