<div class="table-wrapper">
  <div class="content-table" id="gameTable">
    <%= render partial: "games/game_types/table_game_col",
      locals: {
        problems: @problems,
        question_header: @game.question_header,
        icon_based: @game.icon_based
      } %>
  </div>
</div>
