<div class="sidebar-right">
  <div class="sidebar-right-media">
    <div class="chat-lesson">
      <% if @language.video_url %>
        <iframe width="475" height="300" src="<%= @language.video_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% end %>
    </div>
    <div class="chat-entertainment slideshow"
      data-controller="slideshow"
      data-target="slideshow.settings"
      data-slide-urls="<%= @slide_urls.to_json %>"
      data-fade-duration=2000
      data-slide-duration=15000>
      <%= image_tag @slide_urls.first, data: {target: "slideshow.bottomImage"} if @slide_urls %>
      <!-- not using image_tag helper because it leaves a broken image icon for first image -->
      <img class="opacity-0 fade-out" data-target="slideshow.topImage">
    </div>
  </div>
</div>
