<div class="forum_container">
  <% posts.each do |post| %>
  <div class="posts">
    <%= render "post" %>
  </div>
  <% end %> <!-- posts iteration  -->

  <div class="post-create-button-wrapper">
    <%= form_for ([post, Post.new]) do |f| %>

    <%= link_to "Create post", class: "play-button border-glow" %>

    <% end %>
  </div>
</div>
