<div class="plays-cards">
  <div class="plays-card">
    <div class="plays-card-title">
      <h2>Game Name</h2>
    </div>
    <%# @user.best_plays.each do |play| %>
    <div class="plays-card-content">
      <p>Score: 145<%#= play.score %></p>
      <p>Time: 30s<%#= play.time %></p>
      <p>Count: 12/36<%#= play.count %></p>
      <p>Timestamp</p>
    </div>
    <%# end %>
  </div>
  <div class="plays-card">
    <div class="plays-card-title">
      <h2>Game Name</h2>
    </div>
    <%# @user.best_plays.each do |play| %>
    <div class="plays-card-content">
      <p>Score: 145<%#= play.score %></p>
      <p>Time: 30s<%#= play.time %></p>
      <p>Count: 12/36<%#= play.count %></p>
      <p>Timestamp</p>
    </div>
    <%# end %>
  </div>
  <div class="plays-card">
    <div class="plays-card-title">
      <h2>Game Name</h2>
    </div>
    <%# @user.best_plays.each do |play| %>
    <div class="plays-card-content">
      <p>Score: 145<%#= play.score %></p>
      <p>Time: 30s<%#= play.time %></p>
      <p>Count: 12/36<%#= play.count %></p>
      <p>Timestamp</p>
    </div>
    <%# end %>
  </div>
  <div class="plays-card">
    <div class="plays-card-title">
      <h2>Game Name</h2>
    </div>
    <%# @user.best_plays.each do |play| %>
    <div class="plays-card-content">
      <p>Score: 145<%#= play.score %></p>
      <p>Time: 30s<%#= play.time %></p>
      <p>Count: 12/36<%#= play.count %></p>
      <p>Timestamp</p>
    </div>
    <%# end %>
  </div>
  <div class="plays-card">
    <div class="plays-card-title">
      <h2>Game Name</h2>
    </div>
    <%# @user.best_plays.each do |play| %>
    <div class="plays-card-content">
      <p>Score: 145<%#= play.score %></p>
      <p>Time: 30s<%#= play.time %></p>
      <p>Count: 12/36<%#= play.count %></p>
      <p>Timestamp</p>
    </div>
    <%# end %>
  </div>
  <div class="plays-card">
    <div class="plays-card-title">
      <h2>Game Name</h2>
    </div>
    <%# @user.best_plays.each do |play| %>
    <div class="plays-card-content">
      <p>Score: 145<%#= play.score %></p>
      <p>Time: 30s<%#= play.time %></p>
      <p>Count: 12/36<%#= play.count %></p>
      <p>Timestamp</p>
    </div>
    <%# end %>
  </div>
  <div class="plays-card">
    <div class="plays-card-title">
      <h2>Game Name</h2>
    </div>
    <%# @user.best_plays.each do |play| %>
    <div class="plays-card-content">
      <p>Score: 145<%#= play.score %></p>
      <p>Time: 30s<%#= play.time %></p>
      <p>Count: 12/36<%#= play.count %></p>
      <p>Timestamp</p>
    </div>
    <%# end %>
  </div>
</div>
