<div class="profile-main">
  <div class="profile-main-a">
    <% if @user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key, class: 'profile-avatar' %>
    <% else %>
    <div class="default-profile-avatar">
      <%= @user.default_avatar %>
    </div>
    <% end %>
  </div>
  <div class="profile-main-b">
    <div class="profile-username"><%= @user.username %></div>
    <div class="profile-city"><%= @user.city %></div>
  </div>
</div>
