    <div class="profile-hub">
      <div class="sm:flex justify-around">
        <div class="profile-scores text-center sm:text-left">
          <p>Game Points(GP): <%= @user.total_score %></p>
          <!-- <p>Convo Points(CP): <%#= @user.convo_points %></p> -->
          <!-- <p>Hint Points(HP): <%#= @user.hint_points %></p> -->
        </div>
        <div class="flex justify-around sm:flex-col sm:w-1/4">
          <% if @user == current_user %>
            <%= link_to edit_user_registration_path, data: { turbolinks: false }, class: "w-4/12 sm:w-auto" do %>
              <div class="btn btn-primary border-glow text-2xl sm:text-base">
                <p>Edit</p>
              </div>
            <% end %> <!-- link to edit -->
              <%= link_to destroy_user_session_path, class: "w-4/12 sm:w-auto", method: :delete do %>
              <div class="btn btn-secondary text-2xl sm:text-base">
                <p>Logout</p>
              </div>
            <% end %> <!-- logout -->
          <% end %> <!-- if user -->
        </div>
      </div>
    </div>
