<div class="password-reset-main-container">

  <div class="password-reset-sidebar-left"></div>

  <div class="password-reset-content-wrapper">
    <h2 class='text-3xl text-center border-b w-full mb-2'>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), builder: MyFormBuilder, html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.text_section :email, "Email" %>
    <%= f.submit "Send me reset password instructions", class: "btn btn-secondary" %>

    <% end %>
  </div>

  <div class="password-reset-sidebar-right"></div>
</div>
