<header class="header">
  <div class="logo">
    <img src="../media/images/logo.jpg" alt="logo"> <!-- change to svg?  -->
  </div>
  <ul class='menu'>
    <div id="dd" class="wrapper-dropdown-3" tabindex="1">
      <span>Login</span>
      <ul class="dropdown">
       <li><a href='#'>Username</a></li>
       <li><a href='#'>PW</a></li>
     </ul>
   </div>
 </header>
