<header class="header">
  <%= link_to root_path do %>
  <div class="logo">
    <%= image_tag "logo.jpg" %> <!-- change to svg?  -->
  </div>
  <% end %>
  <ul class='menu'>
    <div id="dd" class="wrapper-dropdown-3" tabindex="1">
      <span>Login</span>
      <ul class="dropdown">
       <li><a href='#'>Username</a></li>
       <li><a href='#'>PW</a></li>
     </ul>
   </div>
 </header>
