<div class="game-header-mobile sm:hidden flex justify-around items-center">
  <div class="table-title text-4xl ml-1">
    <h1><%= @game.name %></h1>
  </div>
  <div class="w-32">
    <%= render "shared/tooltip", description: @description&.html_safe %>
  </div>
</div>
