  <header class="navbar">
    <nav class="nav"> <!-- bd-grid -->
    <div class="flex justify-between items-center">
    <div class="logoss flex items-center">
      <%= link_to root_path do %>
        <div class="logo">
          <%= image_tag "logo-mobile.png", class: "" %>
        </div>
      <% end %> <!-- link to root -->
      <%= link_to root_path do %>
        <div class="logo-text hidden md:block">
          <%= image_tag "logo-text.png", class: "" %>
        </div>
      <% end %> <!-- link to root -->
      </div>
      <div>
        <div class="nav__menu" id='nav-menu'>
          <ul class="nav__list">
            <li class="nav__item"><a href="#home" class="nav__link active">Games</a></li>
            <li class="nav__item"><a href="#about" class="nav__link">Conversations</a></li>
            <li class="nav__item"><a href="#skills" class="nav__link">Profile/Login</a></li>
            <li class="nav__item"><a href="#leaderboards" class="nav__link">Leaderboards</a></li>
            <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
          </ul>
        </div>
        <div class="nav__toggle" id="nav-toggle">
          <i class='bx bx-menu'></i>
        </div>
      </div>
      </div>
    </nav>
  </header>
