<p>
    <div class="popover inline-block" data-controller="popover" data-popover-translate-x="0" data-popover-translate-y="-128%" data-action="mouseover->popover#mouseOver mouseout->popover#mouseOut">
      <span class="text-2xl text-white">?</span>
      <div class="content hidden absolute max-w-xs bg-gray-300 rounded p-2" data-target="popover.content">
        <%= description %>
      </div>
    </div>
</p>
