<div class='markdown'>
 <!--  <div class="relative"> -->
    <div class="popover inline-block">
      <span class="text-2xl text-white border border-gray rounded-full h-10 w-10 flex items-center justify-center bg-blue-200 p-1 ml-10">?</span>
      <div class="content absolute right-0 top-0 max-w-xs sm:max-w-md bg-gray-300 rounded p-3" data-target="popover.content">
        <%= description %>
      </div>
    </div>
<!--   </div> -->
</div>
