<div class="menu-leaderboard-container">
  <div class="menu-leaderboard">
    <%= link_to leaderboards_path do %>
    <div class="menu-leaderboard-header">
      <span class="menu-leaderboard-image"><i class="fas fa-trophy"></i></span>
      <span class="menu-leaderboard-text">Leaderboard</span>
    </div>
    <% end %> <!-- link to leaderboards -->
    <%= render 'shared/leaderboard_content', game: nil %>
  </div>
</div>
