<main>
  <div class="main-container">
    <div class="games-wrapper">
      <div class="kana-wrapper">
        <div class="level-header">
          <h2>Kana</h2>
        </div>
        <div class="kana-content">
          <a href="./games/hiragana-quiz.html" target="_blank" class="level-card">
            <div class="icon">
              <img src="../media/images/icon-hiragana.jpg" alt="hiragana">
            </div>
            <div class="level-title">
              <h3>Hiragana</h3>
            </div>
          </a>
          <a href="#" class="level-card">
           <div class="icon">
            <img src="../media/images/icon-katakana-5.jpg" alt="katakana">
          </div>
          <div class="level-title">
            <h3>Katakana</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="vocab-wrapper">
      <div class="level-header">
        <h2>Vocab</h2>
      </div>
      <div class="vocab-content">
        <a href="#" class="level-card">
         <div class="icon">
          <img src="../media/images/icon-food-1.jpg" alt="food">
        </div>
        <div class="level-title">
          <h3>Food</h3>
        </div>
      </a>
      <a href="#" class="level-card">
       <div class="icon">
        <img src="../media/images/icon-animals-1.jpg" alt="animals">
      </div>
      <div class="level-title">
        <h3>Animals</h3>
      </div>
    </a>
    <a href="#" class="level-card">
     <div class="icon">
      <img src="../media/images/icon-tech-2.jpg" alt="tech-lab">
    </div>
    <div class="level-title">
      <h3>TechLab</h3>
    </div>
  </a>
</div>
</div>
<div class="grammer-wrapper">
  <div class="level-header">
    <h2>Grammar</h2>
  </div>
  <div class="grammar-content">
    <a href="#" class="level-card">
     <div class="icon">
      <img src="../media/images/icon-temaker-1.jpg" alt="te conjugations">
    </div>
    <div class="level-title">
      <div class="level-title">
        <h3>Te Maker</h3>
      </div>
    </div>
  </a>
</div>
</div>
</div>
</div>
</main>
