<div class="home-main-container">
  <div class="slideshow"
    data-controller="slideshow"
    data-slideshow-target="settings"
    data-slide-urls="<%= @slide_urls.to_json %>"
    data-fade-duration=2000
    data-slide-duration=8000>
    <%= image_tag @slide_urls.first, data: { slideshow_target: "bottomImage" } %>
    <!-- not using image_tag helper because it leaves a broken image icon for first image -->
    <img class="opacity-0 fade-out" data-slideshow-target="topImage">
  </div>
  <%= render 'home_main' %>
</div>
