<%= render 'shared/header' %>
<div class="home-main-container">
  <div class="slideshow"
    data-controller="slideshow"
    data-target="slideshow.settings"
    data-slide-urls="<%= @slide_urls.to_json %>"
    data-fade-duration=2000
    data-slide-duration=8000>
    <%= image_tag @slide_urls.first, data: {target: "slideshow.bottomImage"} %>
    <!-- not using image_tag helper because it leaves a broken image icon for first image -->
    <img class="opacity-0 fade-out" data-target="slideshow.topImage">
  </div>
  <%= render 'home_main' %>
</div>
<footer class="footer">
  <div class="footer-links">
<!--     <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a> -->
  </div>
  <div class="footer-copyright">
    <p><i class="fas fa-camera"></i> : Manuel Cosentino -- @manucosen</p>
  </div>
</footer>
