<%= render 'shared/header' %>
<div class="home-image">
  <main class="main">
    <div class="gateway-wrapper">
      <div class="gateway">
        <div class="gateway-content">
          <div class="gateway-tagline">
            <h2>Have fun while learning Japanese. 始めましょう</h2>
          </div>
          <%= link_to games_path do %>
          <div class="gateway-to-games stroke">
            <h2 class="test">Games</h2>
            <svg>
              <polyline class="o1" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
              <polyline class="o2" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
            </svg>
          </div>
          <% end %>
          <%= link_to forum_path do %>
          <div class="gateway-to-forum">
            <h2>Forum</h2>
          </div>
          <% end %>
          <div class="gateway-to-join modal-btn">
            <h2>Join for free</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-bg">
      <div class="modal">
        <h2>Join our community!</h2>
        <label for="username">Username: </label>
        <input type="text" name="username">
        <label for="email">Email: </label>
        <input type="email" name="email">
        <label for="password">Password: </label>
        <input type="password" name="password">
        <label for="password">Repeat Password: </label>
        <input type="password" name="password">
        <button>Join</button>
        <span class="modal-close">X</span>
      </div>
    </div>
  </main>
  <footer class="footer">
   <p> share buttons and about </p>
 </footer>
</div>
