<div class="leaderboards-main-container">
  <div class="leaderboards-sidebar-left">
    <%= link_to root_path do %>
    <div class="logo">
      <%= image_tag "logo.png" %> <!-- change to svg?  -->
    </div>
    <% end %>
  </div>
  <div class="leaderboards-wrapper">
    <% @games.each do |game| %>
    <div class="leaderboard">
      <div class="leaderboard-header">
        <span class="leaderboard-image"><i class="fas fa-trophy"></i></span>
        <span class="leaderboard-text"><%= game.name %></span>
      </div>
      <%= render 'shared/leaderboard_content', game: game %>
    </div>
    <% end %> <!-- game iteration -->
  </div>
  <div class="leaderboards-sidebar-right"></div>
</div>
