<div class="leaderboards-main-container">
  <div class="edit-sidebar-left"></div>
  <div class="leaderboards-wrapper">
    <% @games.each do |game| %>
    <div class="leaderboard">
      <div class="leaderboard-header">
        <span class="leaderboard-image"><i class="fas fa-trophy"></i></span>
        <span class="leaderboard-text"><%= game.name %></span>
      </div>
      <%= render 'shared/leaderboard_content', game: game %>
    </div>
    <% end %> <!-- game iteration -->
  </div>
  <div class="edit-sidebar-right"></div>
</div>
