<div class="leaderboards-main-container">
  <div class="menu-leaderboard-container mb-3">
    <div class="menu-leaderboard">
      <div class="menu-leaderboard-header">
        <span class="menu-leaderboard-image"><i class="fas fa-trophy"></i></span>
        <span class="menu-leaderboard-text">Leaderboard</span>
      </div>
      <%= render 'shared/leaderboard_content', game: nil %>
    </div>
  </div>
  <div class="leaderboards-wrapper basic-grid">
    <% @games.each do |game| %>
    <div class="leaderboard">
      <div class="leaderboard-header">
        <span class="leaderboard-image"><i class="fas fa-trophy"></i></span>
        <span class="leaderboard-text"><%= game.name %></span>
        <p class="opacity-50"><%= game.language.name.capitalize %></p>
      </div>
      <%= render 'shared/leaderboard_content', game: game %>
    </div>
    <% end %> <!-- game iteration -->
  </div>
</div>
