<div class="game-controls">
  <%= link_to game_path(@game, autoplay: true) do %>
  <div class="btn btn-primary border-glow text-3xl font-bold m-3">
    <p>Play</p>
  </div>
  <% end %>
  <div class="hidden hub">
    <div class="shift-buttons">
      <button class="back-button">Back</button>
      <button class="next-button">Next</button>
    </div>
    <input type="text" class="game-input pl-1">
  </div>
  <div class="correct-count">
    <p>0/<%= @problems.count %></p>
  </div>
  <div class="timer">
    <p><%= calculate_time_from_seconds(@game.play_time) %></p>
  </div>
  <div class="score">
    <p>0pts</p>
  </div>
  <div class="modal-bg">
    <div class="game-stats modal">
      <h2 class="endgame-modal-header">Game Over!</h2>
      <div class="game-stats-content"></div>
      <div class="restart btn btn-primary border-glow">
        <p>Replay</p>
      </div>
    </div>
  </div>
</div>
