<div class="game-header hidden sm:flex justify-center items-center sm: h-24">
  <div class="game-header-hub">
    <div class="table-title text-4xl">
      <h1><%= @game.name %></h1>
    </div>
  </div>
  <div class="w-40">
    <%= render "shared/tooltip", description: @description.html_safe %>
  </div>
</div>
