<!-- This file is legacy, games now use components for controls -->

<div class="game-controls">
  <%#= link_to game_path(@game, autoplay: true) do %>
  <div class="flex justify-center sm:hidden">
    <div class="btn btn-primary border-glow text-3xl font-bold px-8 m-3 w-2/5 justify-self-center play-button" data-action="table-game#restartGame">
      <p>Play</p>
    </div>
    <div class="btn btn-danger text-3xl font-bold px-8 m-3 w-2/5 justify-self-center hidden quit-button" data-action="table-game#endGame">
      <p>Quit</p>
    </div>
  </div>
  <%# end %>
  <div class="flex">
    <%= render "stat_box", correct_count: @problems.count, timer: calculate_time_from_seconds(@game.play_time) %>
  </div>

  <!-- input form -->

  <fieldset class="answer-set">
    <div class="shift-button-left" data-action="click-><%= local_assigns[:stimulus_controller] %>#checkAnswer">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div>
      <input type="text" class="game-input pl-1 mt-2" data-action="keyup-><%= local_assigns[:stimulus_controller] %>#keyUp">
    </div>
    <button class="shift-button-right" data-action="click-><%= local_assigns[:stimulus_controller] %>#checkAnswer">
      <i class="fas fa-chevron-right"></i>
    </button>
  </fieldset>


  <div class="modal-bg">
    <div class="game-stats modal">
      <h2 class="endgame-modal-header">Game Over!</h2>
      <div class="game-stats-content"></div>
      <div class="restart btn btn-primary border-glow">
        <p>Replay</p>
      </div>
    </div>
  </div>
</div>
