<div class="game-controls p-3">
  <%= link_to game_path(@game, autoplay: true) do %>
  <div class="btn btn-primary border-glow text-3xl font-bold m-3">
    <p>Play</p>
  </div>
  <% end %>
  <div class="hidden hub mr-1">
    <div class="shift-buttons flex">
      <button class="back-button mr-1">Back</button>
      <button class="next-button">Next</button>
    </div>
    <input type="text" class="game-input pl-1 mt-2">
  </div>
  <div class="game-stat-box hidden sm:flex mr-1"> <!-- correct count -->
    <p class="correct-count">0/<%= @problems.count %></p>
  </div>
  <div class="game-stat-box hidden sm:flex mr-1"> <!-- score -->
    <p class="score">0pts</p>
  </div>
  <div class="game-stat-box sm:hidden text-xl mr-1"> <!-- mobile view -->
    <p class='score'>0pts</p>
    <p class='correct-count'>0/<%= @problems.count %></p>
  </div>
  <div class="game-stat-box"> <!-- timer -->
    <p class='timer'><%= calculate_time_from_seconds(@game.play_time) %></p>
  </div>
  <div class="modal-bg">
    <div class="game-stats modal">
      <h2 class="endgame-modal-header">Game Over!</h2>
      <div class="game-stats-content"></div>
      <div class="restart btn btn-primary border-glow">
        <p>Replay</p>
      </div>
    </div>
  </div>
</div>
