    <div class="game-stat-box hidden sm:flex mr-1"> <!-- correct count -->
      <p class="correct-count">0/<%= correct_count %></p>
    </div>

    <div class="game-stat-box hidden sm:flex mr-1"> <!-- score -->
      <p class="score">0pts</p>
    </div>

    <div class="game-stat-box sm:hidden text-xl mr-1"> <!-- mobile view -->
      <p class='score'>0pts</p>
      <p class='correct-count'>0/<%= correct_count %></p>
    </div>

    <div class="game-stat-box"> <!-- timer -->
      <p class='timer'><%= timer %></p>
    </div>
