<div class="game-main-container">

  <%= render "game_header" %>

  <div class="game-container" data-url="<%= game_plays_url(@game) %>">
    <% if ["Hiragana 1", "Katakana 1"].include?(@game.name) %>
    <%= render "kana_games_1" %>
    <% else %>
    <%= render "table_games" %>
    <% end %>
  </div>
</div>
