.table-title {
  display: flex;
  justify-content: center;
  width: 20rem;
  color: #009879;
  border-bottom: 3px solid #009879;
  border-radius: 15px;
  text-shadow: 0px 1px 0px #616161;
  @media screen and (min-width: 640px)  {
    & {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.game-header {
  border-bottom: 1px solid #dddddd;
  z-index: 10;
}

.game-header-hub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.game-header .logo {
  align-self: flex-start;
}

.profile-link {
  width: 150px;
  display: flex;
}

.profile-link img {
  object-fit: cover;
}

.avatar {
  border: 1px solid rgba(47, 79, 79, 0.6);
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  margin-left: 5px;
}

.username-game {
  display: flex;
  align-items: center;
  margin-left: 10px;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    // display: inline-block;
    width: 90px;
    white-space: nowrap;
  }
}

.tooltip-wrapper {
  display: flex;
  justify-content: flex-end;
}

.game-flag {
  // margin-left: 6rem;
  // margin-right: auto;
}

.game-flag-mobile {
  // position: relative;
  // right: 30px;
}
