$nav-height: 85px;

.games-main-container {
  background-color: ghostwhite;
  display: flex;
  justify-content: space-around;
  padding-top: $nav-height;
}

.games-container {
  height: 100%;
  // width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.classifications {
  position: sticky;
  top: 115px;
  height: fit-content;
}

.game-type-select {
  border: 1px solid #eee;
  border-radius: 5px;
  height: fit-content;
  height: -moz-fit-content;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  margin: 50px 0px;
}

.game-type-select-header {
  border: 1px solid #eee;
  padding: 6px 6px;
  text-shadow: 0px 1px 0px rgba(61, 61, 61, 0.5);
}

.game-type-select-content-item {
  border: 1px solid #eee;
  padding: 10px 10px;
  opacity: 0.5;
}

.game-type-select-content-item:hover, .game-type-select-content-item.active {
  opacity: 1.0;
  text-shadow: 0px 1px 2px rgba(61, 61, 61, 0.5);
}

.type-japanese {
  background-color: rgba(230,26,4,0.2);
}

.type-japanese:hover, .type-japanese.active {
  background-color: rgba(230,26,4,0.6);
}

.type-english {
  background-color: rgba(11,33,102,0.2);
}

.type-english:hover, .type-english.active {
  background-color: rgba(11,33,102,0.6);
}

.type-spanish {
  background-color: rgba(246,191,2,0.2);
}

.type-spanish:hover, .type-spanish.active {
  background-color: rgba(246,191,2,0.6);
}

.type-french {
  background-color: rgba(50, 245, 75, 0.3);
}

.type-french:hover, .type-french.active {
  background-color: rgba(50, 245, 75, 0.6);
}

.games-wrapper {
  border: 2px solid #eee;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 95%;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
}

.level-icon {  /*it doesnt need to be icon cause different image in html*/
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0, 0.2);
  border-radius: 5px;
  object-fit: cover;
  // background-color: rgba(230,26,4,0.2);
  height: 110px;
  width: 110px;
  padding: 25px 30px;
}

.text-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

// level cards

$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
$blue: #3498db;

.game-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  margin-bottom: 1.6%;
  background: $color_white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  transition: 2s;

  & > a, &:hover > a {
    display: contents;
  }

  &:hover {
    .game-card-icon {
      transform: scale(1.3) rotate(3deg);
    }
    transform: scale(1.1);
    border: 1px solid black;
  }
  .game-card-media {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgba(0,0,0, 0.08);
  }

  .game-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
  }

  .game-card-action {
    position: absolute;
    bottom: 5px;
    background-color: $blue;
    padding: 5px;
    border-radius: 5px;
  }

  .description {
    padding: 1rem;
    background: $color_white;
    position: relative;
    z-index: 1;
    h1,
    h2 {
      font-family: 'Karla', sans-serif;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
      border-bottom: 1px solid rgba(0,0,0, 0.7);
      width: fit-content;
      width: -moz-fit-content;
      transition: 2s;
      &:hover {
        transform: scale(1.1);
        font-weight: 500;
    }
    }
    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color_grey_dark;
      margin-top: 5px;
    }
  }
  p {
    position: relative;
    margin: 0.4rem 0 0;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    color: rgba(0,0,0, 0.6);
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: $color_prime;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }

  .authors-display {
    font-size: 1.2rem;
    transition: 1s;
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }

  @media (min-width: 900px) {
    flex-direction: row;
    max-width: 700px;
    .game-card-media {
      flex-basis: 40%;
      height: auto;
    }
    .description {
      flex-basis: 60%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg)
        }
      }
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg)
        }
      }
      &:hover {
        .game-card-icon {
          transform: scale(1.3) rotate(-3deg);
        }
      }
    }
  }
}
