.games-main-container {
  background-color: ghostwhite;
  display: flex;
  justify-content: space-around
}

.games-container {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.games-wrapper {
  border: 2px solid #eee;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 95%;
  border-radius: 5px;
}

.icon {  /*it doesnt need to be icon cause different image in html*/
  border: 1px dotted gray;
  border-radius: 5px;
  border-bottom: none;
  object-fit: cover;
  background-color: rgb(219, 255, 239);
  height: 110px;
  width: 110px;
  padding: 25px 30px;
}

.games-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 25px;
  justify-items: center;
}

.vocab-wrapper {
/*border: 1px solid orange;*/
}

.vocab-content {
  /*border: 1px solid lightblue;*/
  display: flex;
  justify-content: space-around;
}

.grammar-wrapper {
/*border: 1px solid purple;*/
}

.grammar-content {
  /*border: 1px solid purple;*/
  display: flex;
  justify-content: center;

}

.level-header {
  border-bottom: 1px solid black;
  display: flex;
  padding: 5px;
  margin: 15px;
  font-size: 25px;
  justify-content: center;
  font-family: Karla;
  text-shadow: 2px 2px 4px rgba(61, 61, 61, 0.5);
}

.level-card {
  border: 1px solid grey;
  background-color: ghostwhite;
  height: 150px;
  width: 125px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.8;
}

.level-card:hover {
  opacity: 1.0;
  -webkit-box-shadow: 0px 24px 85px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 24px 85px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.75);
}

.level-title {
  border-top: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 100%;
  font-family: Karla;
}

.menu-leaderboard-container {
  width: 350px;
  display: flex;
  justify-content: center;
}

.menu-leaderboard {
  border: 2px solid #eee;
  width: 325px;
  background-color: white;
  border-radius: 5px;
}

.menu-leaderboard-header {
  border-bottom: 1px solid rgba(0,0,0,0.08);
  padding: 18px 0;
  text-align: center;
}

.menu-leaderboard-image {
  // for the trophy
}

.menu-leaderboard-text {
  vertical-align: middle;
  color: #2B3648;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin: 10px;
}

.menu-leaderboard-rows {
  list-style-type: none;
  background-color: white;
  margin: 0;
  font-size: 12px;
}

.menu-leaderboard-row {
  height: 60px;
  width: 100%;
  line-height: 42px;
  font-size: 15px;
  color: #2B3648;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.menu-leaderboard-avatar {
  border: 1px solid rgba(47, 79, 79, 0.6);
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin: 6px;

  &.default-avatar {
    font-size: 30px;
    align-items: center;
    background-color: aliceblue;
    padding: 5px;

  }
}

.menu-leaderboard-rank {
  border: 1px solid lightgrey;
  border-radius: 20%;
  font-weight: 900;
  font-size: 18px;
  padding: 0px 4px;
  margin-left: 18px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.menu-leaderboard-username {
  width: 200px;
  font-size: 20px;
  margin-left: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.menu-leaderboard-points {
  margin-left: 75px;
  margin-right: 15px
}
