$blue: #3498db;
$yellow: #f1c40f;

table {
  border-collapse: collapse;
}

.kana-box {
  font-size: 14px;
}

.kanji-box {
  font-size: 25px;
}

.romaji-box {
  font-size: 16px;
}

.game-main-container {
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.game-container {
  // display: flex;
  // justify-content: center;
}

.table-wrapper {
  overflow: scroll;
  width: 100%;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); maybe change to 4px
}


.content-table thead tr {
  background-color: #009879; /*nice green*/
  color: white;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td  {
  padding: 6px 11px;
  border: 1px solid #dddddd;
  text-align: center;
  min-height: 79px;
  line-height: 23px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd; /*light grey*/
}

.content-table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-size: 20px;
  font-weight: bold;
  color: #009879; /*header green*/
  background-color: rgba(173, 216, 231, 0.4);
}

.gametable-col {
  vertical-align: top;
}

.last-table {
  display: flex;
  flex-direction: column;
}

.game-controls {
  width: fit-content;
  width: -mox-fit-content;
  display: flex;
  align-self: self-start;
  border: 1px solid #dddddd;
  background: rgb(248,248,255);
  margin-top: 10px;
}

.hub {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.shift-buttons {

}

.endgame-modal-header {
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 0px 1px 0px rgba(61, 61, 61, 0.5);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.endgame-modal-item {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-size: 15px;
  text-shadow: 0px 1px 0px rgba(61, 61, 61, 0.5);
  margin: 15px 0px;
}

.endgame-modal-item:last-of-type {
  margin: 0;
}

.perfect-play-display {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 10px auto;
}

.game-input {
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 5px;
  height: 25px;
}

.back-button {
  flex-grow: 1;
  background-color: lightblue;
  border-color: $blue;
  text-shadow: 1px 1px 4px rgba(0,0,0,1.0);
  padding: 10px;
  color: #fff;
  background: {
    image: linear-gradient(-45deg,$blue 50%, transparent 50%);
    position: 0%;
    size: 400%;
  }
  transition: background 300ms ease-in-out;

  &:hover {
    background-position: 100%;
  }
}

.next-button {
  flex-grow: 1;
  padding: 10px;
  background-color: lightblue;
  border-color: $blue;
  text-shadow: 1px 1px 4px rgba(0,0,0,1.0);
  color: #fff;
  background: {
    image: linear-gradient(45deg,$blue 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background 300ms ease-in-out;

  &:hover {
    background-position: 0;
  }
}

.game-stat-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  flex-grow: 1;
  border: 1px solid lightgrey;
  font-size: 25px;
  background-color: #f3f3f3;
  font-family: monospace;
}

.correct-answer {
  background-color: #7cffcb;
  background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
}

.answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty-answer {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

.wrong-answer {
  background-color: #fc5296;
  background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
}

.hidden {
  display: none;
}


// help tip

.help-tip{
  position: absolute;
  top: 18px;
  right: 18px;
  text-align: center;
  background-color: #BCDBEA;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  cursor: default;
}

.help-tip:before{
  content:'?';
  font-weight: bold;
  color:#fff;
}

.help-tip:hover p{
  display:block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;

}

.help-tip > *{    /* The tooltip */
  display: none;
  text-align: left;
  background-color: #1E2021;
  padding: 20px;
  width: 300px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
}

.help-tip > *:before{ /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border:6px solid transparent;
  border-bottom-color:#1E2021;
  right:10px;
  top:-12px;
}

.help-tip > *:after{ /* Prevents the tooltip from being hidden */
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  top:-40px;
  left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
    transform: scale(0.6);
  }

  100% {
    opacity:100%;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}

// help tip end
