<div class="post-main-container">
  <div class="post-group">
    <div class="post-header">
      <div class="post-creation-time">
        <p><%= post.created_at.strftime("%l:%M %p") %></p>
      </div>
    </div>
      <div class="post-title-wrapper">
        <p>Language: <%= post.language&.name %></p>
        <p class="post-title">Title: <%= post.title %></p>
      </div>
    <div class="post-content">
      <p>Content: <%= post.content %></p>
    </div>
  </div>
  <div class="post-toolbar">
    <div class="post-comment-button"></div>
  </div>
</div>
