<div class="conversations-content-items forum-bg">
  <div class="post-create-wrapper">
    <div class="post-create-header">
      Edit your post
    </div>
    <%= render 'posts/form', post: @post %>
  </div>
</div>
