<div class="conversations-content-container" data-controller="conversations">
  <div class="conversations-content-items forum-bg">
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <%= render "posts/post", post: post %>
      <% end %> <!-- link -->
    <% end %> <!-- posts iteration  -->
  </div>

  <div class="conversations-hub-wrapper">
    <%= link_to "Create post", new_post_path, class: "post-button border-glow", data: { action: "click->conversations#new" } %>
  </div>
</div>
