<div class="conversations-content-container" data-controller="forum">
  <div class="conversations-content-items forum-bg" data-target="forum.posts" data-action="scroll->forum#infiniteScroll">
    <%= render 'posts/page_content', posts: @posts %>
  </div>

  <div class="conversations-hub-wrapper">
    <%= link_to "Create post", new_post_path, class: "post-button border-glow", data: { action: "click->conversations#new" } %>
  </div>
</div>
