$blue: #3498db;
$yellow: #f1c40f;

.btn {
  padding: 15px;
  margin: 10px 0;
  border-radius: 4px;
  display: block;
  text-align: center;
}

.btn-primary {
  border: 1px solid grey;
  background-color: rgba(61, 152, 212, 0.3);
  color: white;
  text-shadow: 1px 2px 10px rgba(0,0,0,0.6);
}

.border-glow {
  border-color: $blue;
  color: #fff;
  box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
    text-shadow: 1px 1px 4px rgba(0,0,0,1.0);
    cursor: pointer;
  }
}

.btn-secondary {
  color: black;
  background: palegreen;
  border: 1px solid grey;
  opacity: 0.7;
  text-shadow: 0px 1px 0px #7FA269;
}

.btn-secondary:hover {
  opacity: 1.0;
  border: 1px solid black;
  cursor: pointer;
  transition: 3s;
}

.btn-danger {
  background-color: red;
  color: white;
  text-shadow: 1px 2px 10px rgba(0,0,0,0.6);
}

