.logo {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 83px;
  box-shadow: 0 0px 1px 1px rgba(0,0,0,0.1);
  background-color: white;
}

.logo img {
  max-width: 150px;
}
