.profile-main-container {
  background-color: rgba(102,138,106, 0.9);
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 0 100px;
}

.profile-main-container .logo {
  position: absolute;
  left: 0px;
}

.profile-wrapper {
  background-color: white;
  border: 2px solid #eee;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 25px;
  height: 100%;
  flex-grow: 1;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.profile-header-a {
  margin: 0px 30px;
}

.profile-header-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-header-c {

}

.profile-avatar {
  border: 1px solid rgba(47, 79, 79, 0.6);
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.default-profile-avatar {
  border: 1px solid rgba(47, 79, 79, 0.6);
  font-size: 100px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  margin: 0px;
}

.profile-username {
  margin-right: 75px;
  font-size: 60px;
  border-bottom: 1px solid rgba(200,200,200,0.8);
}

.profile-edit-icon {
  font-size: 35px;
}

.profile-city {
  font-size: 20px;
}

.profile-record {
  border-bottom: 1px solid rgba(200,200,200,0.8);
  height: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.profile-record-header {
  border-top: 1px solid rgba(200,200,200,0.8);
  border-bottom: 1px solid rgba(200,200,200,0.8);
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.profile-record-row {
  border-bottom: 1px solid #eee;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  height: 50px;

}

.profile-lists {
  height: 312px;
  display: flex;
}

.profile-badges {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.profile-badges-header {
  border-bottom: 1px solid rgba(200,200,200,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-bottom: 10px;
}

.profile-badges-content {
  display: flex;
  justify-content: center;
}

.profile-badges-row {
  border-bottom: 1px solid #eee;
  width: 90%;
  display: flex;
  justify-content: center;
}

.profile-posts {
  border-left: 1px solid rgba(200,200,200,0.8);
  border-right: 1px solid rgba(200,200,200,0.8);
  width: 34%;
  height: 310px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.profile-posts-header {
  border-bottom: 1px solid rgba(200,200,200,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 30px;
  width: 331px;
  margin-bottom: 10px;
  background-color: white;

}

.profile-posts-content {
  display: flex;
  flex-direction: column;
}

// .profile-posts-row {
//   border-bottom: 1px solid #eee;
//   width: 90%;
//   display: flex;
//   justify-content: center;
// }

.profile-best-plays {
  width: 33%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.profile-best-plays-header {
  border-bottom: 1px solid rgba(200,200,200,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 4px;
  margin-bottom: 10px;
}

.profile-best-plays-subheader {
  border-bottom: 1px solid rgba(200,200,200,0.8);
  display: flex;
  justify-content: space-around;
  height: 20px;
  margin-bottom: 5px;
}

.profile-best-plays-content {
  // display: flex;
  // justify-content: center;
}

.profile-best-plays-row {
  border-bottom: 1px solid #eee;
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
