.profile-main-container {
  background-color: rgba(102,138,106, 0.9);
  display: flex;
  justify-content: center;
  padding: 0 100px;
}

.profile-main-container .logo {
  position: absolute;
  left: 0px;
}

.profile-wrapper {
  background-color: white;
  border: 2px solid #eee;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 25px;

  flex-grow: 1;
}

.profile-main {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.profile-main-a img {
  object-fit: cover;
}

.profile-main-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-main-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-avatar {
  border: 1px solid rgba(47, 79, 79, 0.6);
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.default-profile-avatar {
  border: 1px solid rgba(47, 79, 79, 0.6);
  font-size: 100px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  margin: 0px;
}

.profile-username {
  margin-right: 75px;
  font-size: 60px;
  border-bottom: 1px solid rgba(200,200,200,0.8);
}

.profile-edit-icon {
  font-size: 35px;
}

.profile-scores {
  color: rgba(0,0,0,0.6);
}

.profile-city {
  font-size: 20px;
}

.profile-posts-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: rgba(118,150,120, 0.2);
  padding: 2px;
  border-radius: 5px;
  overflow: scroll;
  max-height: 448px;
  // min-height: 412px;
}

.expanded {
  height: 100%;
  width: 100%;
}

/* Small screens */
@media screen and (max-width: 600px) {
  .default-profile-avatar {
      border: 1px solid rgba(47, 79, 79, 0.6);
      font-size: 40px;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      height: 55px;
      width: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: aliceblue;
      margin: 0px;
  }
}
