<div class="dashboard-sidebar">
  <ul class="action-list">
    <%= link_to admin_home_path do %>
    <li>
      Home
    </li>
    <% end %>
    <%= link_to admin_game_home_path do %>
    <li>
      Games
    </li>
    <% end %>
  </ul>
</div>
