<!DOCTYPE html>
<html>
  <%= render "shared/head" %>
  <body style="background: rgb(118,150,120);">
    <div class="container mx-auto px-4 h-full" style="background: rgb(118,150,120);">
      <div class="max-w-xl mx-auto border border-gray-600 rounded p-5 bg-white h-full">
        <%= render 'layouts/alerts' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>

<!-- .edit-main-container {
  background-color: rgba(102,138,106, 0.9);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.edit-sidebar-left {
  width: 30vw;
}

.edit-sidebar-right {
  width: 30vw;
}

.edit-content-wrapper {
  background-color: white;
  border: 2px solid #eee;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100vh;
} -->
